[submodule "external/cimgui"]
    path = external/cimgui
    url  = https://github.com/cimgui/cimgui.git
[submodule "external/external/portaudio"]
	path = external/external/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "external/external/rtmidi"]
	path = external/external/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "external/rtmidi"]
	path = external/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
